<div class="menu">
			<div class="one">
				<div class="layer-1">
					<i class="fa fa-users" aria-hidden="true"></i>
					<p>Chat</p>
					<span class="users-on spanabble"></span>
				</div>
				<div class="layer-2" onclick="toggle_menu()">
					<i class="fa fa-times no-mobile" aria-hidden="true"></i>
				</div>
			</div>

			<div class="two">
				<div class="peoples">
					<p class="ons-agora">ONLINE AGORA</p>
					<div class="peoples-timeline">
						<div class="people" id="junior-bot-user">
			              <span class="status-active"></span>
			              <p class="name">Junior Bot</p>
			              <img src="<%- url -%>/src/images/junior.png" alt="" class="my-icon">
			              <div class="user-message">
			              	<span class="arrow-user"></span>
			              	<div class="text-user">Diz oi pra mim</div>
			              </div>
			            </div>
					</div>
				</div>
				<div class="sala-create">
					<button class="create-sala">
						<i class="fa fa-plus fa-lg" aria-hidden="true"></i>
					</button>
				</div>
				<a href="./bots" class="ons-agora" target="__blank" style="text-decoration:none">ROBOS ONLINES</a>
				<div class="bots-ons">
				  <% bots.forEach(function(bot){ %>
				  	<a href="./bot/<%- bot.id -%>" target="__blank">
					  	<span class="on-bot">
					  	  	<% if(bot.icon){ %>
							   <img src="<%- url -%>/<%- bot.icon -%>" style="width:30px;height:30px;border-radius:100%">
							 <% } else{ %>  
							   <img src="<%- url -%>/src/images/new-bot-user.png" style="width:30px;height:30px;border-radius:100%">
							<% } %>
						</span>
					</a>
				  <% }); %>
				</div>
			</div>
		</div>